---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.jsx';
import Chat from '../components/Chat.jsx';
import ApiKeyInput from '../components/ApiKeyInput.jsx';
---

<Layout>
	<main class="text-3xl font-medium">	
		<Main client:only />
	</main>
</Layout>
